* {
  font-family: 'Author', sans-serif;
}

.mainBody {
  display: flex;
  min-height: 100vh;

  .leftCol {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #14213d;
    padding: 1rem;

    p, h3 {
      color: white;
      margin: 0;
    }

    #header {
      padding-bottom: 1rem;
    }

    #sidebar {
      display: flex;
      flex-direction: column;

      #addNoteBtnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        #addNoteBtn {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 0.5rem 1rem;
          background-color: #fca311;
          i {
            font-size: 1.25rem;
            font-weight: bold;
            color: #14213d;
            margin-right: 0.5rem;
          }
          p {
            margin-left: 0.5rem;
            font-weight: bold;
            color : #14213d;
          }
        }
        #addNoteBtn:hover {
          cursor: pointer;
        }
      }

      .noteList {
        display: flex;
        flex-direction: column;
        .note {
          display: flex;
          i {
            font-size: 1.25rem;
            font-weight: bold;
            color: #fca311;
            padding-right: 0.5rem;
          }
          p {
            align-self: center;
          }
        }
      }

      #downloadBtnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        #downloadBtn {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 0.5rem 1rem;
          background-color: #fca311;
          i {
            font-size: 1.25rem;
            font-weight: bold;
            color: #14213d;
            margin-right: 0.5rem;
          }
          p {
            margin-left: 0.5rem;
            font-weight: bold;
            color : #14213d;
          }
        }
        #downloadBtn:hover {
          cursor: pointer;
        }
      }

    }
  }

  .rightCol {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e5e5e5;
    padding: 2rem;

    #noteTitle {
      margin-bottom: 1rem;
      #noteTitleInput {
        border: 0;
        border-bottom: 1px solid #14213d;
        background-color: inherit;
        font-size: x-large;
        font-weight: bold;
        color: #14213d;
      }
      #noteTitleInput:focus {
        outline: 0;
      }
      ::-webkit-input-placeholder {
        font-size: x-large;
        font-weight: bold;
        color: #14213d !important;
        opacity: 1;
      }
      ::-moz-placeholder {
        font-size: x-large;
        font-weight: bold;
        color: #14213d !important;
        opacity: 1;
      }
      ::placeholder {
        font-size: x-large;
        font-weight: bold;
        color: #14213d !important;
        opacity: 1;
      }
    }

    .ql-toolbar {
      background-color: white;
    }

    #noteContentContainer {
      display: flex;
      background-color: white;

      p {
        font-size: larger;
      }

      #noteContentInput {
        border: 1px solid #14213d;
        border-radius: 5px;
        background-color: inherit;
        padding: 1rem;
        resize: none;
      }
      #noteContentInput:focus {
        outline: 0 !important;
      }
    }

    #charCount {
      margin-bottom: 1rem;
    }

    #btnContainer {
      display: flex;
      justify-content: space-around;
      #saveNoteBtn, #deleteNoteBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        padding: 0.5rem 1rem;
        margin: 1rem 0;
        background-color: #fca311;
        i {
          font-size: 1.25rem;
          font-weight: bold;
          color: #14213d;
          margin-right: 0.5rem;
        }
        p {
          margin-left: 0.5rem;
          margin-bottom: 0;
          font-weight: bold;
          color : #14213d;
        }
      }
      #saveNoteBtn:hover, #deleteNoteBtn:hover {
        cursor: pointer;
      }
    }

    #noNoteContainer {
      p {
        font-size: x-large;
        color: #14213d;
      }
    }

  }

}

// Mobile Design
@media screen and (max-width: 480px){
  .mainBody {
    display: flex;
    flex-direction: column;

    .leftCol {
      background-color: #14213d;
      width: 100vw;
      flex-grow: 1;
    }

    .rightCol {
      background-color: #e5e5e5;
      width: 100vw;
      flex-grow: 1;

      .ql-toolbar {
        width: min(80vw);
      }

      #noteContentContainer {
        width: min(80vw);
        flex-grow: 1;
      }

      #saveNoteBtn #deleteNoteBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        padding: 0.5rem 1rem;
        background-color: #fca311;
        i {
          font-size: 1.25rem;
          font-weight: bold;
          color: #14213d;
          margin-right: 0.5rem;
        }
        p {
          margin-left: 0.5rem;
          margin-bottom: 0;
          font-weight: bold;
          color : #14213d;
        }
      }
      #saveNoteBtn:hover, #deleteNoteBtn:hover {
        cursor: pointer;
      }
    }
  }
}
